<p>
  <mat-toolbar class="toolbar">

    <img
      src="https://firebasestorage.googleapis.com/v0/b/tjtortasytacos.appspot.com/o/Logotipo.png?alt=media&token=f3807c88-2ddd-4dc8-adaa-67b758f4f722"
      class="rounded mx-auto d-block" alt="..." height="50px" width="50px" >

    <button mat-button class="callButton"><a href="tel:+1-619-271-4835"><span class="material-icons">
          call
        </span></a></button>

  </mat-toolbar>
  <mat-divider style="background-color: red; height: 8px;"> </mat-divider>
</p>



<mat-card class="menuTittle">Menu</mat-card>

<img
  src="https://firebasestorage.googleapis.com/v0/b/tjtortasytacos.appspot.com/o/Sanwich.jpg?alt=media&token=e0531010-a7b6-42d0-87e3-a4db16740d31"
  class="img-fluid pictureTorta" alt="Responsive image">


<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems">Tortas</mat-card>

  <mat-card class="item">

    <p class="itemName">CHORIZO WITH EGGS <a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">SCRAMBLED EGGS,CHORIZO,MAYONNAISE,TOMATO & AVOCADO</p>
    <p class="itemName">BACON & EGGS <a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">SCRAMBLED EGGS,BACON,MAYONNAISE,TOMATO & AVOCADO</p>
    <p class="itemName">HAMS & EGGS <a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">SCRAMBLED EGGS,HAM,MAYONNAISE,TOMATO & AVOCADO</p>
    <p class="itemName">CARNITAS <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">PORK,MAYONNAISE,ONIONS,CILANTRO,TOMATO & AVOCADO</p>
    <p class="itemName">MILANESA <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">BREADED STEAK,MAYONNAISE,LETTUCE,TOMATO & AVOCADO</p>
    <p class="itemName">CARNE ASADA <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">CARNE ASADA,MAYONNAISE,TOMATO & AVOCADO</p>
    <p class="itemName">TJ SPECIAL <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">CARNE ASADA,HAM,CHEESE,MAYONNAISE,TOMATO </p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">OAXAQUEÑA <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">BREASTED CHICKEN, CHILE POBLANO,OAXACA CHEESE,</p>
    <p class="itemDesc">MAYONNAISE,TOMATO & AVOCADO</p>
    <p class="itemName">LOMO TJ <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">HAM,CHEESE,MAYONNAISE,TOMATO & AVOCADO</p>
    <p class="itemName">CUBANA <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">CARNE ASADA,HAM,AMERICAN CHEESE,EGG,MAYONNAISE,</p>
    <p class="itemDesc">TOMATO,LETTUCE & AVOCADO</p>
    <p class="itemName">HABANERA <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">CARNE ASADA,HAM,WHITE CHEESE,MAYONNAISE,TOMATO</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">LA COCHINITA <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">MARINATED PORK,HAM,MAYONNAISE,TOMATO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">AL PASTOR <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">MARINATED PORK,,MAYONNAISE,TOMATO & AVOCADO</p>
    <p class="itemName">POLLO ASADO <a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">POLLO ASADO,MAYONNAISE,TOMATO & AVOCADO</p>

  </mat-card>

</div>

<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems" id="tacos">Tacos</mat-card>

  <mat-card class="item">

    <p class="itemName">CARNE ASADA <a class="itemPrice">2x $4.00</a></p>
    <p class="itemDesc">CARNE ASADA,CORN TORTILLAS,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">AL PASTOR <a class="itemPrice">2x $4.00</a></p>
    <p class="itemDesc">AL PASTOR,CORN TORTILLAS,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">POLLO ASADO <a class="itemPrice">2x $4.00</a></p>
    <p class="itemDesc">POLLO ASADO CORN TORTILLAS,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">CARNITAS <a class="itemPrice">2x $4.00</a></p>
    <p class="itemDesc">CARNITAS CORN TORTILLAS,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">BIRRIA <a class="itemPrice">2x $4.00</a></p>
    <p class="itemDesc">BIRRIA CORN TORTILLAS,CILANTRO,ONIONS</p>
    <p class="itemName">FISH TACO<a class="itemPrice">2x $4.00</a></p>
    <p class="itemDesc">FISH TACO,CORN TORTILLAS,CILANTRO,ONIONS</p>
    <p class="itemName">COCHINITA <a class="itemPrice">2x $4.00</a></p>
    <p class="itemDesc">COCHINITA,CORN TORTILLAS,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>


  </mat-card>

</div>

<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems" id="mulitas">Mulitas</mat-card>

  <mat-card class="item">

    <p class="itemName">CARNE ASADA<a class="itemPrice">$4.99</a></p>
    <p class="itemDesc">CARNE ASADA,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">AL PASTOR <a class="itemPrice">$4.99</a></p>
    <p class="itemDesc">AL PASTOR,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">POLLO ASADO <a class="itemPrice">$4.99</a></p>
    <p class="itemDesc">POLLO ASADO,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">CARNITAS <a class="itemPrice">$4.99</a></p>
    <p class="itemDesc">CARNITAS,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">BIRRIA <a class="itemPrice">$4.99</a></p>
    <p class="itemDesc">BIRRIA,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">COCHINITA <a class="itemPrice">$4.99</a></p>
    <p class="itemDesc">COCHINITA,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>

  </mat-card>

</div>

<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems" id="quesadillas">Tj Corn Quesadillas</mat-card>

  <mat-card class="item">

    <p class="itemName">CARNE ASADA<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">CARNE ASADA,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">AL PASTOR<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">AL PASTOR,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">POLLO ASADO<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">POLLO ASADO,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">CARNITAS<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">CARNITAS,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">BIRRIA<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">BIRRIA,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">COCHINITA<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">COCHINITA,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>
    <p class="itemName">MIXTA<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">CARNE ASADA,AL PASTOR,CORN QUESADILLA,CILANTRO,ONIONS</p>
    <p class="itemDesc">& AVOCADO</p>


  </mat-card>

</div>

<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems" id="burritos">Burritos</mat-card>

  <mat-card class="item">

    <p class="itemName">HAM & EGGS<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">HAM & SCRAMBLED EGGS,FLOUR TORTILLA,CHEESE</p>
    <p class="itemDesc">& FRIES</p>
    <p class="itemName">CHORIZO & EGGS<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">SCRAMBLED EGGS WITH CHORIZO,FLOUR TORTILLA,CHEESE</p>
    <p class="itemDesc">& FRIES</p>
    <p class="itemName">BACON & EGGS<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">SCRAMBLED EGGS WITH BACON,FLOUR TORTILLA,CHEESE</p>
    <p class="itemDesc">& FRIES</p>
    <p class="itemName">CARNE ASADA<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">CARNE ASADA,FLOUR TORTILLA,ONIONS,</p>
    <p class="itemDesc">TOMATO & LETTUCE</p>
    <p class="itemName">POLLO ASADO<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">POLLO ASADO,FLOUR TORTILLA,ONIONS,</p>
    <p class="itemDesc">TOMATO & LETTUCE</p>
    <p class="itemName">IB CALIFORNIA<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">CARNE ASADA,FRIES,FLOUR TORTILLA,ONIONS,</p>
    <p class="itemDesc">TOMATO & SOUR CREAM</p>
    <p class="itemName">LA COCHINITA<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">MARINATED PORK,FLOUR TORTILLA,ONIONS,</p>
    <p class="itemDesc">TOMATO</p>
    <p class="itemName">CARNITAS<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">PORK,FLOUR TORTILLA,ONIONS,TOMATO</p>
    <p class="itemDesc">& LETTUCE</p>
    <p class="itemName">AL PASTOR<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">AL PASTOR,FLOUR TORTILLA,ONIONS,</p>
    <p class="itemDesc">TOMATO & LETTUCE</p>
    <p class="itemName">MIXTO<a class="itemPrice">$7.99</a></p>
    <p class="itemDesc">AL PASTOR,CARNE ASADA,FLOUR TORTILLA,CHEESE,ONIONS,</p>
    <p class="itemDesc">TOMATO & LETTUCE</p>



  </mat-card>

</div>

<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems" id="vegetarian">Vegetarian</mat-card>

  <mat-card class="item">

    <p class="itemName">TACO<a class="itemPrice">$1.99</a></p>
    <p class="itemDesc">CORN TORTILLA,AVOCADO,GREEN PEPPPER,TOMATOE,</p>
    <p class="itemDesc">ONION,CILANTRO,LETTUCE</p>
    <p class="itemName">BURRITO<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">FLOUR TORTILLA,AVOCADO,GREEN PEPPER,TOMATO,</p>
    <p class="itemDesc">ONION,CILANTRO,LETTUCE,FRIES,CHEESE,EGGS</p>
    <p class="itemName">QUESADILLA<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">CORN TORTILLA,AVOCADO,GREEN PEPPPER,TOMATOE,</p>
    <p class="itemDesc">ONION,CILANTRO,LETTUCE</p>
    <p class="itemName">TORTA<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">PAN TELERA,MAYONNAISE,AVOCADO,GREEN PEPPPER,</p>
    <p class="itemDesc">TOMATOE,CILANTRO,LETTUCE</p>

  </mat-card>

</div>

<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems" id="birria">Birria</mat-card>

  <mat-card class="item">

    <p class="itemName">BIRRIA DE RES<a class="itemPrice">$8.99</a></p>
    <p class="itemDesc">BIRRIA DE RES,CILANTRO,ONIONS & CORN TORTILLA</p>
    <p class="itemName">CONSOME DE BIRRIA<a class="itemPrice">$2.99</a></p>
    <p class="itemDesc">12oz CUP BIRRIA DE RES JUICE ,CILANTRO,ONIONS</p>
    <p class="itemDesc">& TORTILLA</p>
    <p class="itemName">CONSOME DE BIRRIA CON CARNE<a class="itemPrice">$3.99</a></p>
    <p class="itemDesc">12oz CUP BIRRIA DE RES WITH MEAT,CILANTRO,ONIONS</p>
    <p class="itemDesc">& TORTILLA</p>


  </mat-card>

</div>

<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems" id="fries">Fries Plates</mat-card>

  <mat-card class="item">

    <p class="itemName">CARNE ASADA<a class="itemPrice">$8.99</a></p>
    <p class="itemDesc">CARNE ASADA,CHEESE,FRENCH FRIES,AVOCADO,</p>
    <p class="itemDesc">PICO DE GALLO & SOUR CREAM</p>
    <p class="itemName">AL PASTOR<a class="itemPrice">$8.99</a></p>
    <p class="itemDesc">AL PASTOR,CHEESE,FRENCH FRIES,AVOCADO,</p>
    <p class="itemDesc">PICO DE GALLO & SOUR CREAM</p>
    <p class="itemName">POLLO ASADO<a class="itemPrice">$8.99</a></p>
    <p class="itemDesc">POLLO ASADO,CHEESE,FRENCH FRIES,AVOCADO,</p>
    <p class="itemDesc">PICO DE GALLO & SOUR CREAM</p>
    <p class="itemName">CARNITAS<a class="itemPrice">$8.99</a></p>
    <p class="itemDesc">PORK,CHEESE,FRENCH FRIES,AVOCADO,</p>
    <p class="itemDesc">PICO DE GALLO & SOUR CREAM</p>
    <p class="itemName">MIXTA<a class="itemPrice">$8.99</a></p>
    <p class="itemDesc">CARNE ASADA,AL PASTOR,CHEESE,FRENCH FRIES,</p>
    <p class="itemDesc">AVOCADO,PICO DE GALLO & SOUR CREAM</p>



  </mat-card>

</div>

<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems" id="drinks">Drinks</mat-card>

  <mat-card class="item">

    <p class="itemName">AGUA FRESCA (20oz Cup)<a class="itemPrice">$2.99</a></p>
    <p class="itemName">CAN SODA<a class="itemPrice">$1.50</a></p>
    <p class="itemName">BOTTLE SODA<a class="itemPrice">$1.99</a></p>
    <p class="itemName">WATER (500ml)<a class="itemPrice">$1.00</a></p>
    <p class="itemName">COFEE (12oz Cup)<a class="itemPrice">$1.99</a></p>

  </mat-card>

</div>

<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems" id="extras">Extas</mat-card>

  <mat-card class="item">

    <p class="itemName">FRENCH FRIES<a class="itemPrice">$2.99</a></p>
    <p class="itemName">SEASONED FRIES<a class="itemPrice">$3.99</a></p>
    <p class="itemName">ONION RINGS<a class="itemPrice">$3.99</a></p>
    <p class="itemName">JALAPEÑOS<a class="itemPrice">$1.99</a></p>
    <p class="itemName">CARROTS<a class="itemPrice">$1.50</a></p>
    <p class="itemName">SOUR CREAM<a class="itemPrice">$1.50</a></p>
    <p class="itemName">GUACAMOLE<a class="itemPrice">~</a></p>

  </mat-card>

</div>

<!--------------------------------------------------------------------------------->

<div>

  <mat-card class="menuItems" id="crepes">Crepes</mat-card>

  <mat-card class="item">

    <p class="itemName">BANANA OR STRAWBERRIES<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">WITH NUTELA,WHIPPED CREAM CARAMEL, </p>
    <p class="itemDesc">CHOCOLATE SYRUP & POWDERED SUGAR</p>
    <p class="itemName">BANANA & STRAWBERRIES<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">WITH NUTELA,WHIPPED CREAM CARAMEL, </p>
    <p class="itemDesc">CHOCOLATE SYRUP & POWDERED SUGAR</p>
    <p class="itemName">BANANA OR STRAWBERRIES<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">WITH CREAM CHEESE,WHIPPED CREAM CARAMEL, </p>
    <p class="itemDesc">CHOCOLATE SYRUP & POWDERED SUGAR</p>
    <p class="itemName">BANANA & STRAWBERRIES<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">WITH NUTELA,WHIPPED CREAM CARAMEL, </p>
    <p class="itemDesc">CHOCOLATE SYRUP & POWDERED SUGAR</p>
    <p class="itemName">HAM & CREAM CHEESE (SALTY)<a class="itemPrice">$6.99</a></p>
    <p class="itemDesc">CREAM CHEESE, HAM & JALAPEÑOS </p>

  </mat-card>

</div>

<!--------------------------------------------------------------------------------->